spring:
  datasource:
    url: jdbc:postgresql://152.136.245.180:5432/zhiyanplatform
    username: postgres
    # 建议使用环境变量或本地修改来提供真实密码，不要提交到仓库
    password: zjm10086
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none  # 你已经手工建表，建议使用 none 或 validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

